.alert {

    .card-body {
        cursor: pointer;

        .icon-whatsapp { width: 35px; }
    }
    .unread{
        color: red;
        animation: blinker 1s linear infinite;
    }

     @keyframes blinker {  
        50% { opacity: 0; }
    }

    .active{
        background-color: bisque;
    }
}